{% extends 'base.html' %}


{% block content %}
<div class="container">
    <!-- Header Section -->
    <header class="row">
        <div class="col-md-6" id="header-text">
            <h2>The best place to craft a delicious dish</h2>
            
        
            <!-- <div>
                <button class="btn btn-primary">Searsh</button>
                <button class="btn btn-primary">Join Our Slack</button>
            </div>  -->
            
        </div> 
            <!-- Header Image -->
        <div class="col-md-6">
            <img src="../../static/images/dish.jpg" alt="Hero Header Image" class="header-image">
        </div>
            
    </header>


    {% endblock content %}
    <!-- End of Header Section -->

<!-- End of Header Section -->
